.btn-custom {
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(#cc1919, #f32723);
  color: #ffde9d;
  padding: 5px;
  min-width: 130px;
}

.bl-content-title {
  background-image: linear-gradient(to right, #f8554f, #faaca959);
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  color: #ffde9d;
}

.btn-search {
  background-color: #f8554f;
  color: #fff;
}

.bl-home {
  background-color: #ebebeb;
  .bl-banner {
    padding-top: 20px;
    background-color: #fff;
    padding: 10px 0;
    .custom-row {
      .image-banner {
        border-radius: 15px;
      }
      .icon__item {
        text-align: center;
        margin-bottom: 16px;
        img {
          height: 80px;
          width: 80px;
          margin-bottom: 10px;
        }
      }
      .icon__100 {
        height: 80px;
      }
    }
  }
  .bl-content {
    .bl-prominent {
      width: 100%;
      background-color: #fff;
      .row-custom {
        justify-content: space-between;
        padding: 16px 10px;
        margin-top: 16px;
        span {
          &:nth-child(1) {
            color: #f7b532;
            font-size: larger;
            font-weight: 600;
          }
          &:nth-child(2) {
            font-size: larger;
            font-weight: 600;
          }
        }
      }
      .row {
        background-color: #fff;

        .col-custom {
          padding: 15px 2px;
          position: relative;
          text-align: center;
          overflow: hidden;
          outline: 2px solid #e7e7e6;
          padding-bottom: 45px;
          &:hover {
            .icon-freeship {
              // right: 16px;
              transform: translate(-60px);
            }
            i {
              transform: translate(-60px);
              cursor: pointer;
            }
            img {
              &:nth-child(1) {
                transform: scale(1.1);
              }
            }
          }
          img {
            &:nth-child(1) {
              width: 50%;
              padding: 20px 0;
              transition: all 500ms;
            }
          }
          .icon-freeship {
            right: -50px;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 16px;
            transition: all 500ms;
          }
          i {
            font-size: 30px;
            position: absolute;
            top: 70px;
            right: -50px;
            color: #f32723;
            transition: all 500ms;
            z-index: 100;
          }
          .title {
            font-size: 16px;
            font-weight: 600;
            color: #5a5a5a;
            // float: left;
            text-align: left;
            padding: 0 16px;
          }
          .bl-price {
            text-align: left;
            padding: 0 16px;
            span {
              font-size: 16px;
              font-weight: 600;
              &:nth-child(2) {
                color: #f32723;
              }
            }
          }
        }
      }
    }
    .bl-today {
      margin-top: 20px;
      .title {
        padding: 16px 10px;
        color: #f7b532;
        font-size: larger;

        outline: 2px solid #e7e7e6;
      }
      .row {
        background-color: #fff;
        .slider-custom {
          text-align: center;
          max-width: 200px;
          img {
            width: 100%;
            max-width: 200px;
            border-radius: 15px;
          }
        }
      }
    }
    .bl-selling-product {
      .row {
        background-color: #fff;
        .bl-price {
          text-align: left;
          padding: 0 16px;
          span {
            font-size: 16px;
            font-weight: 600;
            &:nth-child(2) {
              color: #f32723;
            }
          }
        }
      }
    }
  }
}
