.footer{
  height: 80px;
  padding: 17px 0;
  background-color: #dfe1e3;
  margin-top:60px;
  .wrap-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1270px;
    margin: auto;
    padding: 0 35px;
    .title-name-payment{
      font-size: 18px;
      font-weight: bold;
      color: #717780;
    }
    .title-name-license{
      margin-top:5px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.13;
      color: #737373;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer{
    margin-top:30px;
    .wrap-footer{
      padding: 0 5px;
      .title-name-payment{
        font-size: 15px;
      }
      .title-name-license{
        font-size: 11px;
      }
      img {
        max-width: 100px;
        width: 100%;
      }
    }
  }
}